# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
# Note: SDK libraries are explicitly included below
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# Note: SDK libraries are explicitly included below
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build directory
build/
_codeql_build_dir/
_codeql_detected_source_root

# X-Plane plugin output
*.xpl

# Extracted archives (do not commit)
imgui-1.92.5/

# SDK libraries are included in the repository
# Include SDK library files that would otherwise be ignored
!SDK/Libraries/Lin/*.so
!SDK/Libraries/Win/*.lib
